doctype html
html
    head
        meta(charset="utf-8")

        title starterkit
        
        link(rel="stylesheet" href="public/css/style.css")

    body
        
        header.banner
            .banner-body
                .branding
                    .branding-title
                        h1 This is a starter kit
